In [1]:
!pip install mlxtend

Requirement already satisfied: mlxtend in d:\anaconda\lib\site-packages (0.18.0)
Requirement already satisfied: scikit-learn>=0.20.3 in d:\anaconda\lib\site-packages (from mlxtend) (0.24.2)
Requirement already satisfied: matplotlib>=3.0.0 in d:\anaconda\lib\site-packages (from mlxtend) (3.4.1)
Requirement already satisfied: pandas>=0.24.2 in d:\anaconda\lib\site-packages (from mlxtend) (1.2.3)
Requirement already satisfied: scipy>=1.2.1 in d:\anaconda\lib\site-packages (from mlxtend) (1.6.2)
Requirement already satisfied: numpy>=1.16.2 in d:\anaconda\lib\site-packages (from mlxtend) (1.20.2)
Requirement already satisfied: setuptools in d:\anaconda\lib\site-packages (from mlxtend) (40.6.3)
Requirement already satisfied: joblib>=0.13.2 in d:\anaconda\lib\site-packages (from mlxtend) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\anaconda\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Requirement already satisfied: pillow>=6.2.0 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.2.0)
Requirement already satisfied: cycler>=0.10 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: python-dateutil>=2.7 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.7.5)
Requirement already satisfied: pyparsing>=2.2.1 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.3.0)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.0.1)
Requirement already satisfied: pytz>=2017.3 in d:\anaconda\lib\site-packages (from pandas>=0.24.2->mlxtend) (2018.7)
Requirement already satisfied: six in d:\anaconda\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.12.0)

In [2]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder
# conda install -c conda-forge mlxtend

In [3]:
movies = pd.read_csv("my_movies.csv")
movies.head()

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0

In [ ]:
Pre-Processing

In [5]:
df=pd.get_dummies(movies)
df.head()

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile,...,V2_LOTR,V2_LOTR1,V2_LOTR2,V2_Patriot,V3_Braveheart,V3_Gladiator,V3_Harry Potter1,V3_Sixth Sense,V4_Green Mile,V5_LOTR2
0,1,0,1,1,0,1,0,0,0,1,...,0,1,0,0,0,0,1,0,1,1
1,0,1,0,0,1,0,0,0,1,0,...,0,0,0,1,1,0,0,0,0,0
2,0,0,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0

In [ ]:
Apriori Algorithm

In [7]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

      support                                           itemsets
0         0.6                                      (Sixth Sense)
1         0.7                                        (Gladiator)
2         0.2                                            (LOTR1)
3         0.2                                    (Harry Potter1)
4         0.6                                          (Patriot)
...       ...                                                ...
1392      0.1  (V3_Harry Potter1, Sixth Sense, V5_LOTR2, Gree...
1393      0.1  (V3_Harry Potter1, Sixth Sense, LOTR2, Green M...
1394      0.1  (V3_Harry Potter1, Sixth Sense, LOTR2, Green M...
1395      0.1  (V3_Harry Potter1, LOTR2, Green Mile, LOTR1, V...
1396      0.1  (V3_Harry Potter1, Sixth Sense, LOTR2, Green M...

[1397 rows x 2 columns]

In [8]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
1,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
2,(LOTR1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80
3,(Sixth Sense),(LOTR1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
4,(Harry Potter1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80
...,...,...,...,...,...,...,...,...,...
64247,(V5_LOTR2),"(V3_Harry Potter1, Sixth Sense, LOTR2, Green M...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64248,(V4_Green Mile),"(V3_Harry Potter1, Sixth Sense, LOTR2, Green M...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64249,(V2_LOTR1),"(V3_Harry Potter1, Sixth Sense, LOTR2, Green M...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64250,(Harry Potter1),"(V3_Harry Potter1, Sixth Sense, LOTR2, Green M...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64251,(V1_Sixth Sense),"(V3_Harry Potter1, Sixth Sense, LOTR2, Green M...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80

In [9]:
rules.sort_values('lift',ascending = False)[0:20]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
32126,"(LOTR1, Harry Potter1, Sixth Sense, V5_LOTR2)","(V3_Harry Potter1, LOTR2, Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33437,"(LOTR1, Harry Potter1, V4_Green Mile)","(V2_LOTR1, V5_LOTR2, Sixth Sense, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33415,"(LOTR1, V2_LOTR1, Sixth Sense)","(V4_Green Mile, V5_LOTR2, Harry Potter1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33416,"(LOTR1, Harry Potter1, Sixth Sense)","(V4_Green Mile, V5_LOTR2, V2_LOTR1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33417,"(V4_Green Mile, V2_LOTR1, Sixth Sense)","(LOTR1, V5_LOTR2, Harry Potter1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33418,"(V4_Green Mile, Harry Potter1, Sixth Sense)","(LOTR1, V5_LOTR2, V2_LOTR1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33419,"(V2_LOTR1, Harry Potter1, Sixth Sense)","(LOTR1, V5_LOTR2, V4_Green Mile, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33420,"(LOTR1, V5_LOTR2, LOTR2)","(V4_Green Mile, V2_LOTR1, Harry Potter1, Sixth...",0.1,0.1,0.1,1.0,10.0,0.09,inf
33421,"(V4_Green Mile, V5_LOTR2, LOTR2)","(LOTR1, V2_LOTR1, Harry Potter1, Sixth Sense)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33422,"(V2_LOTR1, V5_LOTR2, LOTR2)","(LOTR1, Harry Potter1, Sixth Sense, V4_Green M...",0.1,0.1,0.1,1.0,10.0,0.09,inf
33423,"(V5_LOTR2, Harry Potter1, LOTR2)","(LOTR1, V2_LOTR1, Sixth Sense, V4_Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33424,"(LOTR1, V4_Green Mile, LOTR2)","(V2_LOTR1, Harry Potter1, Sixth Sense, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33425,"(LOTR1, V2_LOTR1, LOTR2)","(V4_Green Mile, Harry Potter1, Sixth Sense, V5...",0.1,0.1,0.1,1.0,10.0,0.09,inf
33426,"(LOTR1, Harry Potter1, LOTR2)","(V4_Green Mile, V2_LOTR1, Sixth Sense, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33427,"(V4_Green Mile, V2_LOTR1, LOTR2)","(LOTR1, Harry Potter1, Sixth Sense, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33428,"(V4_Green Mile, Harry Potter1, LOTR2)","(LOTR1, V2_LOTR1, Sixth Sense, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33429,"(V2_LOTR1, Harry Potter1, LOTR2)","(LOTR1, Sixth Sense, V5_LOTR2, V4_Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33430,"(LOTR1, V4_Green Mile, V5_LOTR2)","(V2_LOTR1, Harry Potter1, Sixth Sense, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33431,"(LOTR1, V2_LOTR1, V5_LOTR2)","(V4_Green Mile, Harry Potter1, Sixth Sense, LO...",0.1,0.1,0.1,1.0,10.0,0.09,inf
33432,"(LOTR1, Harry Potter1, V5_LOTR2)","(V4_Green Mile, V2_LOTR1, Sixth Sense, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf

In [10]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4
1,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
6,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
7,(Patriot),(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
10,(LOTR),(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
...,...,...,...,...,...,...,...,...,...
64247,(V5_LOTR2),"(V3_Harry Potter1, Sixth Sense, LOTR2, Green M...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64248,(V4_Green Mile),"(V3_Harry Potter1, Sixth Sense, LOTR2, Green M...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.8
64249,(V2_LOTR1),"(V3_Harry Potter1, Sixth Sense, LOTR2, Green M...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64250,(Harry Potter1),"(V3_Harry Potter1, Sixth Sense, LOTR2, Green M...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.8
64251,(V1_Sixth Sense),"(V3_Harry Potter1, Sixth Sense, LOTR2, Green M...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.8